.App {
  background: rgb(68,195,253);
  background: linear-gradient(164deg, rgba(68,195,253,1) 0%, rgba(255,255,255,1) 78%, rgba(255,255,255,1) 100%);
  height: 100vh;
  width: 100vw;
}

.home {
  font-style: normal;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  text-transform: uppercase;
}

.title {
  font-size: 54px;
  margin-left: 150px;
  z-index: 1;
}

.title_main {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: 8rem;
  letter-spacing: 0.7rem;
  line-height: 140px;
  display: inline;
}

.title_label {
  font-family: 'DIN Pro';
}

strong {
  font-weight: 800;
}

.next_btn {
  width: 300px;
  height: 80px;
  outline: none;
  border-style: none;
  background-color: #ff6a9f;
  border-radius: 50px;
  vertical-align: middle;
  padding: 0;
  margin-bottom: 20px;
  margin-left: 50px;
  
}

.btn_content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gilroy';
  font-size: 1.5rem;
  gap: 25px;
  
}

.circle {
  width: 50px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-btn {
  display: inline-flex;
  height: 8rem;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bg-image {
  position: absolute;
  overflow: hidden;
}

.pink_sperm {
  width: 1180px;
  height: 185px;
  left: 32vw;
  top: 18vh;
  background: url('./images/pink_sperm_1.png') no-repeat;
  z-index: 2;
}

.bacteria_1 {
  background: url('./images/bacteria_1.png') no-repeat;
  top: 4vh;
  width: 235px;
  height: 230px;
}

.bacteria_2 {
  background: url('./images/bacteria_2.png') no-repeat;
  top: 70vh;
  left: 20vw;
  width: 145px;
  height: 145px;
  transform: scale(0.6);
  animation-name: bacteria2;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.pink_sperm_2 {
  background: url('./images/pink_sperm_2.png') no-repeat;
  transform: scale(0.7);
  width: 550px;
  height: 340px;
  top: 68vh;
  left: 10vw;
}

.bacteria_3 {
  background: url('./images/bacteria_3.png') no-repeat;
  top: 80vh;
  left: 40vw;
  width: 170px;
  height: 155px;
}

.bacteria_4 {
  background: url('./images/bacteria_4.png') no-repeat;
  left: 60vw;
  bottom: 0;
  width: 455px;
  height: 250px;
  
  animation-duration: 30000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bacteria_5 {
  background: url('./images/bacteria_5.png') no-repeat;
  top: 20vh;
  left: 75vw;
  width: 220px;
  height: 225px;
  transform: scale(0.7);
  z-index: 2;
  animation-name: bacteria5;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bacteria_6 {
  background: url('./images/bacteria_6.png') no-repeat;
  top: 3vh;
  left: 65vw;
  width: 125px;
  height: 115px;
  transform: scale(0.7);
  animation-name: bacteria6;
  animation-duration: 15000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bacteria_7 {
  background: url('./images/bacteria_7.png') no-repeat;
  top: 5vh;
  width: 140px;
  height: 135px;
  left: 90vw;
  transform: scale(0.7);
}

@keyframes bacteria2 {
  0% {
    left: 3vw;
    top: 65vh;
  }
  50% {
    left: 5vw;
    top: 74vh;
  }
  100% {
    left: 3vw;
    top: 65vh;
  }
}

@keyframes bacteria4 {
  0% {
    left: 60vw;
    transform: scale(1);
  }
  25% {
    left: 60vw;
    transform: scale(1.05);
  }
  50% {
    left: 59vw;
    transform: scale(1);
  }
  75% {
    left: 60vw;
    transform: scale(1.05);
  }
  100% {
    left: 60vw;
    transform: scale(1);
  }
}

@keyframes bacteria5 {
  0% {
    top: 20vh;
    left: 75vw;
  }
  50% {
    top: 13vh;
    left: 70vw;
  }
  100% {
    top: 20vh;
    left: 75vw;
  }
}

@keyframes bacteria6 {
  0% {
    top: 3vh;
    left: 65vw;
  }
  25% {
    top: 12vh;
    left: 68vw;
  }
  50% {
    top: 3vh;
    left: 65vw;
  }
  75% {
    top: 10vh;
    left: 62vw;
  }
  100% {
    top: 3vh;
    left: 65vw;
  }
}